/.vscode
/3D_Cubes.css
/3D_Cubes.html
/Animation_Effects.css
/Animation_Effects.html
/button.css
/button.html
/FingerPrint_Scanner.css
/FingerPrint_Scanner.html
/fire_ring.css
/fire_ring.html
/navbar.css
/navbar.html
/tic_tac_toe.zip
/transparent_3d_cubes.css
/transparent_3d_cubes.html